@import url(header.css);
@import url(perfil.css);

* {
    box-sizing: border-box;
    padding: 0;
}

body {
    min-width: 620px;
}

input:invalid {
    border: 1px solid rgb(255, 0, 0);
}

input:valid {
    border: 1px solid green;
}

body>.container {
    margin-top: 1%;
}