#title {
    width: auto;
    height: auto;
}

#title h1 {
    font-family: 'Arima Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 144px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #4F73B6;
}

#title i {
    font-size: 50px;
    color: #4F73B6;
}