#title-statistics {
    width: auto;
    height: auto;
}

#title-statistics h2 {
    font-family: 'Arima Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 144px;
    display: flex;
    margin: 5%;
}